<div class="align">
    <nb-card>
        <nb-card-body>
            <form [formGroup]="studentForm" (ngSubmit)="onStudentFormSubmit()">
                <h1>User Details</h1>
                <br />
                <!--  name attribute is necessary to provide an identifier for
                ngModel instance -->
                <!-- Inorder to refer to form control instance created by ngModel we bind it 
                to template reference variable -->
                <nb-form-field [style.margin]="'auto'">
                    <input type="text" placeholder="UserName" name="UserDetails" #NameReference nbInput status="primary"
                        formControlName="UserName" />
                    <nb-icon *ngIf="
                            studentForm.controls.username.touched &&
                            studentForm.controls.username.invalid
                        " nbSuffix icon="alert-circle-outline" status="danger"></nb-icon>
                </nb-form-field>
                <div *ngIf="
                        studentForm.controls.username.touched && studentForm.controls.username.invalid
                    " [style.margin]="'auto'">
                    <nb-alert status="danger" *ngIf="studentForm.controls.username.errors?.['required']">Username field
                        is
                        empty!</nb-alert>
                    <nb-alert status="danger" *ngIf="studentForm.controls.username.errors?.['minlength']">Username must
                        be
                        atleast
                        5
                        characters!</nb-alert>
                </div>
                <br />
                <br />
                <nb-form-field [style.margin]="'auto'">
                    <nb-icon *ngIf="
                            studentForm.controls.email.touched &&
                            studentForm.controls.email.invalid
                        " nbSuffix icon="alert-circle-outline" status="danger"></nb-icon>
                    <input type="email" placeholder="Email" nbInput status="primary" name="Email"
                        formControlName="email" />
                </nb-form-field>
                <div *ngIf="
                        studentForm.controls.email.touched &&
                        studentForm.controls.email.invalid
                    " [style.margin]="'auto'">
                    <nb-alert status="danger" *ngIf="studentForm.controls.email.errors?.['required']">Email field is
                        empty!</nb-alert>
                    <nb-alert status="danger" *ngIf="studentForm.controls.email.errors?.['pattern']">Unrecognized email
                        pattern!</nb-alert>
                </div>
                <br />
                <br />
                <nb-form-field [style.margin]="'auto'">
                    <textarea type="text" placeholder="Address" rows="10" cols="30" nbInput #AddressReference
                        status="primary" name="Address" formControlName="address"></textarea>
                    <nb-icon *ngIf="
                            studentForm.controls.address.touched &&
                            studentForm.controls.address.invalid
                        " nbSuffix icon="alert-circle-outline" status="danger"></nb-icon>
                </nb-form-field>
                <div *ngIf="
                        studentForm.controls.address.touched &&
                        studentForm.controls.address.invalid
                    " [style.margin]="'auto'" [style.width.px]="AddressReference.offsetWidth">
                    <nb-alert status="danger">Address is necessary! </nb-alert>
                </div>
                <br />
                <br />
                <div [formGroup]="studentForm.controls.contactDetails">
                    <nb-form-field [style.margin]="'auto'">
                        <input type="tel" name="phoneNumber" placeholder="Phone Number" nbInput status="primary"
                            formControlName="phoneNumber" #phoneNumber />
                        <nb-icon *ngIf="
                                studentForm.controls.contactDetails.controls
                                    .phoneNumber.touched &&
                                studentForm.controls.contactDetails.controls
                                    .phoneNumber.invalid &&
                                studentForm.controls.contactDetails.controls
                                    .phoneNumber.errors?.['minlength']
                            " nbSuffix icon="alert-circle-outline" status="danger"></nb-icon>
                    </nb-form-field>
                    <div *ngIf="
                            studentForm.controls.contactDetails.controls.phoneNumber
                                .touched &&
                            studentForm.controls.contactDetails.controls.phoneNumber
                                .invalid
                        " [style.margin]="'auto'" [style.width.px]="phoneNumber.offsetWidth">
                        <nb-alert status="danger"
                            *ngIf="studentForm.controls.contactDetails.controls.phoneNumber.errors?.['required']">Phone
                            Number
                            is necessary!
                        </nb-alert>
                        <nb-alert status="danger" *ngIf="!studentForm.controls.contactDetails.controls.phoneNumber.errors?.['minlength'] &&
                            studentForm.controls.contactDetails.controls.phoneNumber.errors?.['pattern']">Wrong Number
                        </nb-alert>
                        <nb-alert status="danger"
                            *ngIf="studentForm.controls.contactDetails.controls.phoneNumber.errors?.['minlength']">Too
                            short
                        </nb-alert>
                    </div>
                </div>
                <br />
                <br />
                <button type="submit" nbButton shape="rectangle" status="primary" [disabled]="studentForm.invalid">
                    Submit
                </button>
                <br />
                <br />
            </form>
        </nb-card-body>
    </nb-card>
</div>